[submodule "shells"]
	path = shells
	url = git@gitlab.com:alexforsale/dotfiles-shells
	branch = main
[submodule "bash"]
	path = bash
	url = git@gitlab.com:alexforsale/dotfiles-bash.git
	branch = main
[submodule "x"]
	path = x
	url = git@gitlab.com:alexforsale/dotfiles-x.git
	branch = main
[submodule "openbox"]
	path = openbox
	url = git@gitlab.com:alexforsale/dotfiles-openbox.git
	branch = main
[submodule "polybar"]
	path = polybar
	url = git@gitlab.com:alexforsale/dotfiles-polybar.git
	branch = main
[submodule "apps"]
	path = apps
	url = git@gitlab.com:alexforsale/dotfiles-apps.git
	branch = main
[submodule "i3"]
	path = i3
	url = git@gitlab.com:alexforsale/dotfiles-i3.git
	branch = main
[submodule "zsh"]
	path = zsh
	url = git@gitlab.com:alexforsale/dotfiles-zsh
	branch = main
[submodule "tcsh"]
	path = tcsh
	url = git@gitlab.com:alexforsale/dotfiles-tcsh
	branch = main
[submodule "stumpwm"]
	path = stumpwm
	url = git@gitlab.com:alexforsale/dotfiles-stumpwm
	branch = main
[submodule "qtile"]
	path = qtile
	url = git@gitlab.com:alexforsale/dotfiles-qtile
	branch = main
[submodule "SpaceVim"]
	path = SpaceVim
	url = git@gitlab.com:alexforsale/SpaceVim.d.git
	branch = main
[submodule "fish"]
	path = fish
	url = git@gitlab.com:alexforsale/dotfiles-fish
	branch = main
