[submodule "shells-common"]
	path = shells-common
	url = git@github.com:alexforsale/dotfiles-shells.git
	branch = main
[submodule "bash"]
	path = bash
	url = git@github.com:alexforsale/dotfiles-bash.git
	branch = main
[submodule "x"]
	path = x
	url = git@github.com:alexforsale/dotfiles-x.git
	branch = main
